// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 5px;
	margin-top: 15px;

}

.status p {

	margin-bottom: 4px;

}

.status .admin {
	display: none;
}

.status.hover {
		background-color: #fafafa;
}

.status.hover .admin {
	display: inline;
}